body {
	margin: 0;
	font-family: Helvetica;
	background: #CC3636;
	color: white;
}

.logo {
	height: 80px;
}

#container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}