<h1>Add a New Recipe</h1>
<br>
<form action="/recipes" method="POST">
  <p>
    <label for="recipe_name">Recipe Name</label>
    <input type="text" id="recipe_name" name="recipe_name" />
  </p>
  <p>
    <label for="recipe_prep_time">Preparation Time</label>
    <input type="text" id="recipe_prep_time" name="recipe_prep_time" />
  </p>
  <p>
    <label for="recipe_difficulty">Difficulty (1 -> 4)</label>
    <input type="number" min="1" max="4" id="recipe_difficulty" name="recipe_difficulty" />
  </p>
  <p>
    <label for="recipe_description">Instructions</label>
    <textarea name="recipe_description" id="recipe_description" rows="10" cols="40"></textarea>
  </p>
  <br>
  <p>
    <input type="submit" value="Create!" />
  </p>
</form>
