<h1><a href='/'>My Cookbook</a></h1>
<h2><%= @recipe.name =%></h2>
<div>Preparation Time: <%= @recipe.prep_time =%></div>
<div>Difficulty: <%= @recipe.difficulty =%></div>
<br>
<h3>Instructions</h3>
<p><%= @recipe.description =%></p>
