<h1><%= @recipe.name =%></h1>
<h2>Key points</h2>
<div class="prep-time">Preparation Time: <span class="prep-time time"><%= @recipe.prep_time =%></span></div>
<div class="difficulty-container">Difficulty: <span class="difficulty"><%= Array.new(@recipe.difficulty, "<i class=\"fas fa-star\"></i>").join =%></span></div>
<br>
<h2>Instructions</h2>
<p><%= @recipe.description.gsub(/E(tape \d+)/, '<strong>É\1</strong>') =%></p>
