<h1>Import a Recipe</h1>
<h2>Keyword Search</h2>
<br>
<form action="import" method="post" accept-charset="utf-8">
  <p>
    <label for="recipe_search">What do you want to cook as an ingredient?</label>
    <input type="text" name="recipe_search" id="recipe_search" value="<%= @keyword =%>" />
  </p>
  <br>
  <p>
    <input type="submit" value="Search!" />
  </p>
</form>
<br>

<% if @keyword %>
  <h2>Selection of recipes from Marmiton</h2>
  <p>Click on the recipe you want to add:</p>
  <br>
  <% @results.each_with_index do |result, index| %>
    <div class="card-product">
      <img src="/images/chef.svg" />
      <div class="card-product-infos">
        <a href="/import/<%="#{index}/#{result}"=%>"><h2><%= result =%></h2></a>
      </div>
    </div>
  <% end %>
<%end%>
