<h1><a href='/'>My Cookbook</a></h1>
<h2> Import a recipe</h2>
<p>
  <form action="import" method="post" accept-charset="utf-8">
    <label for="recipe_search">What do you want to cook as an ingredient?</label>
    <input type="text" name="recipe_search" id="recipe_search" value="<%= @keyword =%>" />
    <br>
    <input type="submit" value="Search!" />
  </form>
</p>

<% if @keyword %>
    <h2>Selection of recipes from Marmiton about <%= @keyword =%></h2>
    Click on the recipe you want to add:
    <ol>
    <% @results.each_with_index do |result, index| %>
      <li> <a href="/import/<%="#{index}/#{result}"=%>"><%= result =%></a> </li>
    <% end %>
    </ol>
<%end%>
